<main>
  <div class="form" id="entrar" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="card p-3">
      <div class="shippings" [class.invalid]="store.shippings.length < 1">
        <span>Custos de envio</span>
        <div class="box">
          <div *ngFor="let shipping of areas" class="card p-1">
            <span>{{ shipping[0] }}</span>
            <span class="colored">{{ shipping[1] }}</span>
            <i-trash-2 class="text-danger" (click)="rmAddress(shipping)"></i-trash-2>
          </div>
          <div class="card p-1">
            <span>Novo envio</span>
            <i-plus-circle >
              <!-- (click)="shippingAddress()" data-toggle="modal" data-target="#change-shipping" -->
            </i-plus-circle>
          </div>
        </div>
      </div>
      <div class="text-danger fade mt-1 text-right" [class.show]="store.shippings.length < 1">Adicione ao menos um custo de envio para continuar</div>
    </div>
  </div>
  <div class="card p-3">
    <button class="btn btn-block btn-outline-theme" (click)="selectStore()">Mudar de loja</button>
    <button class="btn btn-block btn-danger" (click)="logout()">Sair</button>
  </div>
</main>
