<main>
  <div class="card p-3">
    <div class="shippings" [class.invalid]="store.shippings.length < 1">
      <h6>Custos de envio</h6>
      <div class="box">
        <div *ngFor="let shipping of areas" class="card p-1">
          <span>{{ shipping.zipCode }}</span>
          <span class="colored">{{ shipping.value }}</span>
          <i-trash-2 class="text-danger" (click)="rmAddress(shipping)" *ngIf="false"></i-trash-2>
        </div>
        <div class="card p-1" *ngIf="false">
          <span>Novo envio</span>
          <i-plus-circle >
            <!-- (click)="shippingAddress()" data-toggle="modal" data-target="#change-shipping" -->
          </i-plus-circle>
        </div>
      </div>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="store.shippings.length < 1">Adicione ao menos um custo de envio para continuar</div>
  </div>
  <div class="card p-3" *ngIf="pixActivated">
    <div class="pix">
      <h6>Cadastro da chave Pix</h6>
      <div class="box">
        <div class="btn-group">
          <button class="btn" [ngClass]="pixKeyType == type ? 'btn-theme' : 'btn-outline-theme'"
            *ngFor="let type of keyTypes" (click)="pixKeyType = type">
              {{type}}
          </button>
        </div>
      </div>
      <div class="label-float">
        <input type="text" [(ngModel)]="pixKey" [class.invalid]="errors['pixKey']" placeholder=" " [disabled]="!pixKeyType"/>
        <label>{{ pixKeyType ? 'Informe a chave aqui ' : 'Escolha o tipo acima' }}</label>
      </div>
      <!-- <div class="preview" [class.filled]="preview">
        <img *ngIf="preview" src="{{preview}}" alt="Nova Logo">
      </div>
      <div class="label-float">
        <input type="file" [class.invalid]="errors['logo']" name="logo" accept="image/*" (change)="readFile($event)" />
        <label>Imagem do QR Code PIX</label>
      </div> -->
      <div class="actions">
        <button class="btn btn-outline-danger mt-2" (click)="save('delete-pix')" [disabled]="loading['pix']">
          Excluir
        </button>
        <button class="btn btn-theme mt-2" (click)="save('pix')" [disabled]="loading['pix']">
          Salvar
        </button>
      </div>
      <div class="text-danger fade mt-1 text-right" [class.show]="errors['pix']">{{pixErrorMsg}}</div>
    </div>
  </div>
  <div class="card p-3" *ngIf="cardActivated">
    <div class="card-brands">
      <h6>Bandeiras de cartão</h6>
      <div class="box">
        <div *ngFor="let brand of cardBrands; let i = index" class="card p-1">
          <span>{{ brand }}</span>
          <i-trash-2 class="text-danger" (click)="newBrand = brand; save('delete-brand')"></i-trash-2>
        </div>
        <div class="card p-1 pointer" [class.disabled]="loading['brand']" (click)="addingBrand = true">
          <span>Nova bandeira</span>
          <i-plus-circle></i-plus-circle>
        </div>
      </div>
    </div>
    <div class="row fade" [class.show]="addingBrand">
      <div class="label-float col-10">
        <input type="text" id="brand-name" [(ngModel)]="newBrand" [class.invalid]="errors['newBrand']" placeholder=" " (keyup.enter)="save('brand')"/>
        <label>
          Nome da bandeira
        </label>
      </div>
      <div class="col-2">
        <i-x class="pointer text-danger" (click)="newBrand = ''; addingBrand = false"></i-x>
        <i-check class="pointer colored" (click)="save('brand')"></i-check>
      </div>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['newBrand']">Preencha o nome da bandeira que quer adicionar!</div>
  </div>
  <div class="card p-3">
    <button class="btn btn-block btn-outline-theme" (click)="selectStore()">Mudar de loja</button>
    <button class="btn btn-block btn-danger" (click)="logout()">Sair</button>
  </div>
</main>
