<main>
  <div class="form" id="entrar" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="image" data-toggle="modal" data-target="#change-logo">
      <img src="{{store.logo}}" alt="Logotipo da loja">
      <span><i-edit></i-edit> trocar foto</span>
    </div>
    <div class="label-float">
      <input type="text" [(ngModel)]="store.code" readonly />
      <label>Apelido</label>
    </div>
    <div class="label-float">
      <input type="text" [(ngModel)]="store.title" [class.invalid]="errors['title']" placeholder=" "
        (keyup.enter)="focus('slogan')" autofocus />
      <label>Nome da loja</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['title']">Nome da loja inválido</div>
    <div class="label-float">
      <input type="text" id="slogan" [(ngModel)]="store.slogan" [class.invalid]="errors['slogan']" placeholder=" "
        (keyup.enter)="focus('phone')" />
      <label>Slogan</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['slogan']">Slogan inválido</div>
    <div class="label-float">
      <input type="text" id="phone" [(ngModel)]="store.phone" [class.invalid]="errors['phone']" placeholder=" "
        (keyup.enter)="focus('whatsapp')" />
      <label>Telefone</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['phone']">Telefone inválido</div>
    <div class="label-float">
      <input type="text" id="whatsapp" [(ngModel)]="store.whatsapp" [class.invalid]="errors['whatsapp']" placeholder=" "
        (keyup.enter)="focus('fb')" />
      <label>Whatsapp</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['whatsapp']">Whatsapp inválido</div>
    <div class="label-float">
      <input type="text" id="fb" [(ngModel)]="store.fb" [class.invalid]="errors['fb']" placeholder=" "
        (keyup.enter)="focus('insta')" />
      <label>Facebook</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['fb']">Facebook inválido</div>
    <div class="label-float">
      <input type="text" id="insta" [(ngModel)]="store.insta" [class.invalid]="errors['insta']" placeholder=" "
        (keyup.enter)="focus('email')" />
      <label>Instagram</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['insta']">Instagram inválido</div>
    <div class="label-float">
      <input type="email" id="email" [(ngModel)]="store.email" [class.invalid]="errors['email']" placeholder=" "/>
      <label>Email</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['email']">Email inválido</div>
    <div class="addresses">
      <span>Endereços</span>
      <div class="box">
        <div *ngFor="let ad of store.address" class="card p-1">
          <span>{{ad.name}}</span>
          <i-edit></i-edit>
          <i-trash-2></i-trash-2>
        </div>
        <div class="card p-1">
          <span>Nova filial</span>
          <i-plus-circle></i-plus-circle>
        </div>
      </div>
    </div>
    <div class="payments">
      <span>Formas de Pagamento</span>
      <div class="box">
        <div *ngFor="let pay of payments" class="card p-1">
          <app-insert-icon [icon]="pay.icon"></app-insert-icon>
          <span>{{pay.name}}</span>
          <div>
            <i-circle *ngIf="!checkProperties(pay, 'payment')"></i-circle>
            <i-check-circle *ngIf="checkProperties(pay, 'payment')"></i-check-circle>
          </div>
        </div>
      </div>
    </div>
    <div class="colors">
      <span>Esquema de cores</span>
      <div class="box">
        <div class="card" *ngFor="let color of availableColors" [style.border]="color.name == store.color ? '3px solid #215C96' : 'none'">
          <div class="color">
            <div [style.background]="getColor(color, '--dark')"></div>
            <div [style.background]="getColor(color, '--primary')"></div>
            <div [style.background]="getColor(color, '--secondary')"></div>
            <div [style.background]="getColor(color, '--accent')"></div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger btn-block mt-4">
      <i-slash></i-slash>
      Desfazer alterações
    </button>
    <a type="button" class="btn btn-outline-theme btn-block" href="/loja/preview">
      <i-eye></i-eye>
      Pré-visualizar
    </a>
    <a type="button" class="btn btn-theme btn-block" href="/loja/preview">
      <div>
        <i-save class="fade" *ngIf="!loading" [class.show]="!loading"></i-save>
        <i-loading class="fade" *ngIf="loading" [class.show]="loading"></i-loading>
      </div>
      Salvar alterações
    </a>
  </div>
</main>
<div class="modal fade" id="change-logo" tabindex="-1" role="dialog" aria-labelledby="change-logo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme">Trocar Logo</h5>
        <button type="button" class="close" data-dismiss="modal" id="logo-success" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modal-body" id="logo">
        <div class="label-float">
          <input type="file" autofocus [(ngModel)]="filepath" name="logo"/>
          <label>Nova imagem de logo</label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['logo']">É necessário escolher uma foto para o seu perfil!</div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-theme" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-theme" (click)="saveChanges('logo')">Salvar</button>
      </div>
    </div>
  </div>
</div>