<main>
  <div class="form" id="entrar" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="image" data-toggle="modal" data-target="#change-logo">
      <img src="{{editedStore.logo}}" alt="Logotipo da loja">
      <span><i-edit></i-edit> trocar foto</span>
    </div>
    <div class="label-float">
      <input type="text" [(ngModel)]="editedStore.code" readonly />
      <label>Apelido</label>
    </div>
    <div class="label-float">
      <input type="text" [(ngModel)]="editedStore.title" [class.invalid]="errors['title']" placeholder=" "
        (keyup.enter)="focus('slogan')" autofocus />
      <label>Nome da loja</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['title']">Nome da loja inválido</div>
    <div class="label-float">
      <input type="text" id="slogan" [(ngModel)]="editedStore.slogan" [class.invalid]="errors['slogan']" placeholder=" "
        (keyup.enter)="focus('phone')" />
      <label>Slogan</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['slogan']">Slogan inválido</div>
    <div class="label-float">
      <input type="text" id="phone" [(ngModel)]="editedStore.phone" [class.invalid]="errors['phone']" placeholder=" "
        (keyup.enter)="focus('whatsapp')" />
      <label>Telefone</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['phone']">Telefone inválido</div>
    <div class="label-float">
      <input type="text" id="whatsapp" [(ngModel)]="editedStore.whatsapp" [class.invalid]="errors['whatsapp']" placeholder=" "
        (keyup.enter)="focus('fb')" />
      <label>Whatsapp</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['whatsapp']">Whatsapp inválido</div>
    <div class="label-float">
      <input type="text" id="fb" prefix="www" [(ngModel)]="editedStore.fb" [class.invalid]="errors['fb']" placeholder=" "
        (keyup.enter)="focus('insta')" />
      <label>Página ou perfil no facebook</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['fb']">Link do facebook inválido, entre na sua página e copie o que estiver depois de facebook.com/</div>
    <div class="label-float">
      <input type="text" id="insta" [(ngModel)]="editedStore.insta" [class.invalid]="errors['insta']" placeholder=" "
        (keyup.enter)="focus('email')" />
      <label>Perfil no instagram</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['insta']">Instagram inválido, informe seu nome de usuario: @nome_da_sua_empresa</div>
    <div class="label-float">
      <input type="email" id="email" [(ngModel)]="editedStore.email" [class.invalid]="errors['email']" placeholder=" "/>
      <label>Email</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['email']">Email inválido</div>
    <div class="addresses" [class.invalid]="errors['address']">
      <span>Endereços</span>
      <div class="box">
        <div *ngFor="let ad of editedStore.address" class="card p-1">
          <span>{{ad.name}}</span>
          <i-edit (click)="setAddress(ad)" data-toggle="modal" data-target="#change-address"></i-edit>
          <i-trash-2 class="text-danger" (click)="rmAddress(ad.name)"></i-trash-2>
        </div>
        <div class="card p-1">
          <span>Nova filial</span>
          <i-plus-circle (click)="addAddress()" data-toggle="modal" data-target="#change-address"></i-plus-circle>
        </div>
      </div>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['address']">Adicione ao menos um endereço para continuar</div>
    <div class="payments" [class.invalid]="errors['payments']">
      <span>Formas de Pagamento</span>
      <div class="box">
        <div *ngFor="let pay of payments" class="card p-1">
          <app-insert-icon [icon]="pay.icon"></app-insert-icon>
          <span>{{pay.name}}</span>
          <div (click)="setPayment(pay)">
            <i-circle *ngIf="!checkPay(pay)"></i-circle>
            <i-check-circle *ngIf="checkPay(pay)"></i-check-circle>
          </div>
        </div>
      </div>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="errors['payments']">Selecione ao menos uma forma de pagamento</div>
    <div class="colors">
      <span>Esquema de cores</span>
      <div class="box">
        <div class="card" *ngFor="let color of availableColors" [style.border]="color.name == editedStore.color ? '3px solid #215C96' : 'none'">
          <div class="color" (click)="editedStore.color = color.name">
            <div [style.background]="getColor(color, '--dark')"></div>
            <div [style.background]="getColor(color, '--primary')"></div>
            <div [style.background]="getColor(color, '--secondary')"></div>
            <div [style.background]="getColor(color, '--accent')"></div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger btn-block mt-4" (click)="editedStore = store">
      <i-slash></i-slash>
      Desfazer alterações
    </button>
    <!-- <button type="button" class="btn btn-outline-theme btn-block" (click)="saveChanges('preview')">
      <i-eye></i-eye>
      Pré-visualizar
    </button> -->
    <button type="button" class="btn btn-theme btn-block" (click)="saveChanges('all')">
      <div>
        <i-save class="fade" *ngIf="!loading" [class.show]="!loading"></i-save>
        <i-loading class="fade" *ngIf="loading" [class.show]="loading"></i-loading>
      </div>
      Salvar alterações
    </button>
  </div>
</main>
<div class="modal fade" id="change-logo" tabindex="-1" role="dialog" aria-labelledby="change-logo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme">Trocar Logo</h5>
        <button type="button" class="close" data-dismiss="modal" id="logo-success" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="preview" [class.filled]="preview">
        <img *ngIf="preview" src="{{preview}}" alt="Nova Logo">
      </div>
      <form class="modal-body" id="logo">
        <div class="label-float">
          <input type="file" [class.invalid]="errors['logo']" name="logo" accept="image/*" (change)="readFile($event)" autofocus />
          <label>Nova imagem de logo</label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['logo']">É necessário escolher uma foto para o seu perfil!</div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-theme" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-theme" (click)="saveChanges('logo')">Salvar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="change-address" tabindex="-1" role="dialog" aria-labelledby="change-address" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme">{{ isNewAddress ? 'Novo' : 'Editar' }} endereço</h5>
        <button type="button" class="close" data-dismiss="modal" id="address-success" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-signin address my-2">
        <div class="fade text-center" [class.show]="loadingZipCode">
          <i-loading></i-loading>
          Verificando CEP...
        </div>
        <div class="label-float">
          <input type="text" pattern="[0-9]*" minlength="8" maxlength="8" [(ngModel)]="selectedAddress.zipCode" id="zipCode" [class.invalid]="errors['zipCode']" placeholder=" " (keyup.enter)="zipCodeApi()" autofocus />
            <label>
              CEP
            </label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['zipCode']">É obrigatório informar um CEP com 8 dígitos!</div>
        <div class="ad-row-1">
          <div class="label-float">
            <input type="text" [(ngModel)]="selectedAddress.street" [class.invalid]="errors['street']" id="street" placeholder=" " (keyup.enter)="focus('number')" />
            <label>Rua, Avenida, etc.</label>
          </div>
          <div class="label-float">
            <input id="number" type="text" pattern="[0-9]*" minlength="1" [(ngModel)]="selectedAddress.number" [class.invalid]="errors['number']" placeholder=" " (keyup.enter)="focus('district')" />
            <label>Nº</label>
          </div>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['street']">É obrigatório informar o nome da rua!</div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['number']">É obrigatório informar o número!</div>
        <div class="text-muted fade mt-1 text-right" [class.show]="!errors['number'] && selectedAddress.number.length == 0"><i-info></i-info> Caso não possua nº, Informe 0.</div>
        <div class="label-float">
          <input type="text" [(ngModel)]="selectedAddress.district" id="district" [class.invalid]="errors['district']" placeholder=" " (keyup.enter)="focus('city')" />
          <label>Bairro</label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['district']">É obrigatório informar o Bairro</div>
        <h5 class="text-center text-theme mt-3">Opcionais</h5>
        <div class="row">
          <div class="col-6">
            <div class="chk">
              <input type="checkbox" id="show-complement" [(ngModel)]="complement" (keyup.enter)="focus('city')" >
              <label for="show-complement">Complemento</label>
            </div>
          </div>
          <div class="col-6">
            <div class="chk">
              <input type="checkbox" id="show-reference" [(ngModel)]="reference" (keyup.enter)="focus('city')" >
              <label for="show-reference">Ponto de referência</label>
            </div>
          </div>
        </div>
        <div class="label-float fade" [class.show]="complement">
          <input type="text" [(ngModel)]="selectedAddress.complement" id="complement" placeholder=" " (keyup.enter)="focus('city')" />
          <label>Complemento (opcional)</label>
        </div>
        <div class="label-float fade" [class.show]="reference">
          <input type="text" [(ngModel)]="selectedAddress.reference" placeholder=" " id="reference" (keyup.enter)="focus('city')" />
          <label>Ponto de referência (opcional)</label>
        </div>
        <div class="label-float">
          <input type="text" [(ngModel)]="selectedAddress.city" id="city" [class.invalid]="errors['city']" placeholder=" " (keyup.enter)="focus('state')" />
          <label>Cidade</label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['city']">É obrigatório informar uma cidade!</div>
        <div class="label-float">
          <input type="text" [(ngModel)]="selectedAddress.state" id="state" [class.invalid]="errors['state']" placeholder=" " (keyup.enter)="focus('name')" />
          <label>Estado</label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['state']">É obrigatório informar um estado!</div>
        <div class="label-float">
          <input type="text" [(ngModel)]="selectedAddress.name" id="name" [class.invalid]="errors['name']" placeholder=" " 
          (keyup.enter)="isNewAddress ? saveChanges('new-address') : saveChanges('address')" [readonly]="!isNewAddress" />
          <label>Identifique esse endereço</label>
        </div>
        <div class="text-danger fade mt-1 text-right" [class.show]="errors['name']">É obrigatório informar um nome para este endereço!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-theme" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-theme" (click)="saveChanges('address')" *ngIf="!isNewAddress">Salvar</button>
        <button type="button" class="btn btn-theme" (click)="saveChanges('new-address')" *ngIf="isNewAddress">Adicionar</button>
      </div>
    </div>
  </div>
</div>