nav {
  background-color: var(--primary);
  color: var(--secondary);
}
.search-bar {
  display: flex;
}
.search-bar > div:not(.input-group) {
  display: grid;
  grid-template-columns: 8fr 1fr;
  width: 100%;
}
.search-bar .close {
  color: var(--secondary);
  align-self: start;
  justify-self: flex-end;
}
.btn-search {
  border-radius: 0.5em;
  transition: 300ms;
}
.btn-search:hover, .btn-search:active {
  border: 1px solid;
  transition: 300ms;
}
.search-bar input {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.btn-search, .search-bar input {
  background-color: var(--secondary);
  color: var(--dark);
}
#category-selector {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: auto;
  /* padding: 0.5em 1em; */
  margin-bottom: 5px;
}
@media (min-width: 650px) {
  #categorias, #category-selector {
      justify-content: center;
  }
}
#categorias {
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.clear-filters {
  border-radius: 1.5em !important;
  transition: 300ms;
  margin-left: 1em !important;
  margin-right: 0.5em;
  margin-bottom: 5px;
}
label.btn-outline-theme {
  color: var(--dark);
  /* border: 0.1px solid var(--dark); */
  border-radius: 1.5em !important;
  transition: 300ms;
  margin: 0 0.5em;
}
label.btn-outline-theme.focus, label.btn-outline-theme:focus {
  box-shadow: none;
}
label.btn-outline-theme:hover, label.btn-outline-theme.active {
  color: #fff;
  background-color: var(--dark);
  transition: 300ms;
}
main {
  margin-bottom: 5em;
}
.orders {
  padding: 0.5em 1em;
}
@media (min-width: 950px) {
  nav {
    position: unset;
    background: var(--dark);
  }
  nav div {
    max-width: 400px;
  }
  main {
    margin-top: 2em !important;
  }
  .search-bar {
    align-content: center;
    justify-content: center;
    gap: 1em;
  }
  .orders {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
  }
  .order-card, .error-card {
    max-width: 300px;
  }
}
.order-card.novos {
  border-left: .25em solid var(--accent);
}
.order-card.preparando {
  border-left: .25em solid var(--secondary);
}
.order-card.entregando {
  border-left: .25em solid var(--primary);
}
.order-card.pronto-para-retirar {
  border-left: .25em solid var(--info);
}
.order-card.entregues {
  border-left: .25em solid var(--success);
}
.order-card.cancelados, .error-card {
  border-left: .25em solid var(--danger);
}
.error-card {
  color: #222;
  padding: 1em .5em;
  display: flex;
}
.error-card > span {
  font-size: 2em;
  align-self: center;
}
.order-card {
  color: #222;
  display: grid;
  grid-template-columns: 8fr 5fr 1fr;
  padding: 0.5em;
  margin-top: 0.5em;
}
.order-card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.order-card p {
  margin: 0;
}
.f-75 {
  font-size: 75%;
  text-overflow: ellipsis;
}
.order-card .colored {
  color: var(--primary);
}
.order-card i-chevron-right {
  align-self: center;
}

/* #accordion > .card {
  background: var(--dark);
  color: var(--secondary);
  border-radius: 0;
}
#accordion .card-header {
  display: flex;
  justify-content: space-between;
}
#accordion .collapse.show {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
 */
