<nav class="navbar fixed-top fade" *ngIf="!showSearchBar && innerWidth < 950" [class.show]="!showSearchBar">
  <span class="navbar-brand">
    {{store?.title}}
  </span>
  <span (click)="setFocus()">
    <i-search></i-search>
  </span>
</nav>
<nav class="navbar fixed-top search-bar fade" *ngIf="showSearchBar && innerWidth < 950" [class.show]="showSearchBar">
  <div>
    <span class="mb-2">Pesquisar por nome do cliente ou nº do pedido: </span>
    <button type="button" class="close" (click)="showSearchBar = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="input-group">
    <input type="text" id="search-mobile" [(ngModel)]="query" class="form-control" (keyup.enter)="search()">
    <div class="input-group-append">
      <span (click)="search()" class="btn btn-sm btn-search">
        <i-search></i-search>
      </span>
    </div>
  </div>
</nav>
<nav class="navbar fixed-top search-bar" *ngIf="innerWidth >= 950">
  <span>Pesquisar por nome do cliente ou nº do pedido: </span>
  <div class="input-group">
    <input type="text" [(ngModel)]="query" class="form-control" (keyup.enter)="search()">
    <div class="input-group-append">
      <span (click)="search()" class="btn btn-sm btn-search">
        <i-search></i-search>
      </span>
    </div>
  </div>
</nav>
<main [style.margin-top]="showSearchBar ? '8em' : '5em'">
  <div id="category-selector">
    <div class="btn-toolbar btn-group-toggle btn-group btn-group-theme" id="categorias">
      <label class="btn btn-danger clear-filters" *ngIf="filtering" (click)="clearFilters()">
        <i-slash></i-slash>
        limpar filtros
      </label>
      <label class="btn btn-outline-theme" [class.ml-3]="!filtering" (click)="setCategory('todos')" [class.active]="isActive == 'todos'">
        <input type="radio">
        todos
        <span class="badge badge-pill badge-info">{{qtt['todos']}}</span>
      </label>
      <label class="btn btn-outline-theme" *ngFor="let cat of status" (click)="setCategory(cat)" [class.active]="isActive == cat">
        <input type="radio">
        {{ cat }}
        <span class="badge badge-pill badge-info">{{qtt[cat]}}</span>
      </label>
    </div>
  </div>
  <div class="orders" *ngIf="hasOrders">
    <div class="card order-card" [ngClass]="status[order.status].replace(' ','-')" *ngFor="let order of orders[isActive]">
      <div>
        <p class="colored f-75">pedido #{{order.cod}}</p>
        <p>{{order.client.name}}</p>
        <p class="f-75">{{formatAddress(order.address)}}</p>
      </div>
      <div class="text-right">
        <p class="f-75">{{order.date | date:'dd/MM/yyyy'}} <br> {{order.date | date:'HH:mm'}}</p>
        <p class="colored">R$ {{order.total.toFixed(2).replace('.',',')}}</p>
      </div>
      <i-chevron-right class="colored pointer" routerLink="/pedido/{{order.cod}}"></i-chevron-right>
    </div>
    <div class="card error-card" *ngIf="orders[isActive] && orders[isActive].length == 0">
      <span>😕</span>
      <p class="mb-0">Nenhum pedido encontrado com os filtros selecionados, mude a categoria para ver seus pedidos recebidos!</p>
    </div>
  </div>
  <div class="orders" *ngIf="!hasOrders && !filtering">
    <div class="card error-card">
      <span>😕</span>
      <p class="mb-0">Nenhum pedido foi recebido ainda, continue divulgando sua empresa!</p>
    </div>
  </div>
  <div class="orders" *ngIf="!hasOrders && filtering">
    <div class="card error-card">
      <span>😕</span>
      <p class="mb-0">Nenhum pedido encontrado com os filtros selecionados, limpe os filtros aplicados!</p>
    </div>
  </div>
</main>










<!--
    <div id="accordion">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          Novos
          <span class="badge badge-pill badge-info">{{qtt['novos']}}</span>
        </h5>
        <span (click)="expand('novos')">
          <i-chevron-down *ngIf="!expanded['novos']"></i-chevron-down>
          <i-chevron-up *ngIf="expanded['novos']"></i-chevron-up>
        </span>
      </div>
      <div class="collapse p-2" [class.show]="expanded['novos']" data-parent="#accordion">
        <div class="card inner-card" *ngFor="let order of orders['novos']">
          <div>
            <p class="colored f-75">pedido #{{order.cod}}</p>
            <p>Gabriel Salami</p>
            <p class="f-75">Av. Cruz de Malta, 705, Centro</p>
          </div>
          <div class="text-right">
            <p class="f-75">11/02/2021 <br> 11:50</p>
            <p class="colored">R$ 37,00</p>
          </div>
          <i-chevron-right class="colored"></i-chevron-right>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          Em Preparo
          <span class="badge badge-pill badge-info">{{qtt['em preparo']}}</span>
        </h5>
        <span (click)="expand('em preparo')">
          <i-chevron-down *ngIf="!expanded['em preparo']"></i-chevron-down>
          <i-chevron-up *ngIf="expanded['em preparo']"></i-chevron-up>
        </span>
      </div>
      <div class="collapse p-2" [class.show]="expanded['em preparo']" data-parent="#accordion">
        <div class="card inner-card">
          <div>
            <p class="colored f-75">pedido #1</p>
            <p>Gabriel Salami</p>
            <p class="f-75">Av. Cruz de Malta, 705, Centro</p>
          </div>
          <div class="text-right">
            <p class="f-75">11/02/2021 <br> 11:50</p>
            <p class="colored">R$ 37,00</p>
          </div>
          <i-chevron-right class="colored"></i-chevron-right>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          Em Rota
          <span class="badge badge-pill badge-info">{{qtt['em rota']}}</span>
        </h5>
        <span (click)="expand('em rota')">
          <i-chevron-down *ngIf="!expanded['em rota']"></i-chevron-down>
          <i-chevron-up *ngIf="expanded['em rota']"></i-chevron-up>
        </span>
      </div>
      <div class="collapse p-2" [class.show]="expanded['em rota']" data-parent="#accordion">
        <div class="card inner-card">
          <div>
            <p class="colored f-75">pedido #1</p>
            <p>Gabriel Salami</p>
            <p class="f-75">Av. Cruz de Malta, 705, Centro</p>
          </div>
          <div class="text-right">
            <p class="f-75">11/02/2021 <br> 11:50</p>
            <p class="colored">R$ 37,00</p>
          </div>
          <i-chevron-right class="colored"></i-chevron-right>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          Entregues
          <span class="badge badge-pill badge-info">{{qtt['entregues']}}</span>
        </h5>
        <span (click)="expand('entregues')">
          <i-chevron-down *ngIf="!expanded['entregues']"></i-chevron-down>
          <i-chevron-up *ngIf="expanded['entregues']"></i-chevron-up>
        </span>
      </div>
      <div class="collapse p-2" [class.show]="expanded['entregues']" data-parent="#accordion">
        <div class="card inner-card">
          <div>
            <p class="colored f-75">pedido #1</p>
            <p>Gabriel Salami</p>
            <p class="f-75">Av. Cruz de Malta, 705, Centro</p>
          </div>
          <div class="text-right">
            <p class="f-75">11/02/2021 <br> 11:50</p>
            <p class="colored">R$ 37,00</p>
          </div>
          <i-chevron-right class="colored"></i-chevron-right>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">
          Cancelados
          <span class="badge badge-pill badge-info">{{ qtt['cancelados'] }}</span>
        </h5>
        <span (click)="expand('cancelados')">
          <i-chevron-down *ngIf="!expanded['cancelados']"></i-chevron-down>
          <i-chevron-up *ngIf="expanded['cancelados']"></i-chevron-up>
        </span>
      </div>
      <div class="collapse p-2" [class.show]="expanded['cancelados']" data-parent="#accordion">
        <div class="card inner-card">
          <div>
            <p class="colored f-75">pedido #1</p>
            <p>Gabriel Salami</p>
            <p class="f-75">Av. Cruz de Malta, 705, Centro</p>
          </div>
          <div class="text-right">
            <p class="f-75">11/02/2021 <br> 11:50</p>
            <p class="colored">R$ 37,00</p>
          </div>
          <i-chevron-right class="colored"></i-chevron-right>
        </div>
      </div>
    </div>
  </div>
 -->
