<div *ngIf="show">
  <nav class="navbar navbar-expand sticky-top mx-auto">
    <ul class="navbar-nav nav mx-auto">
      <li class="mr-5 my-auto">
        <span class="navbar-brand">{{title}}</span>
      </li>
      <li class="nav-item" routerLinkActive="isActive">
        <a class="nav-link" [routerLink]="[ '/pedidos' ]">
          <i-shopping-bag></i-shopping-bag>
          Pedido
          <span class="badge badge-pill" [class.cart-top]="cartTop" *ngIf="qtt != 0">{{qtt}}</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="isActive" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="[ '/loja' ]">
          <i-briefcase></i-briefcase>
          Empresa
        </a>
      </li>
      <li class="nav-item" routerLinkActive="isActive">
        <a class="nav-link" [routerLink]="[ '/produtos' ]">
          <i-tag></i-tag>
          Produtos
        </a>
      </li>
      <li class="nav-item" routerLinkActive="isActive">
        <a class="nav-link" [routerLink]="[ '/preferencias' ]">
          <i-settings></i-settings>
          Preferências
        </a>
      </li>
    </ul>
  </nav>
  <nav class="fixed-bottom">
    <div class="nav-item" routerLinkActive="isActive">
      <a class="tab" [routerLink]="[ '/pedidos' ]">
        <i-shopping-bag></i-shopping-bag>
        Pedidos
        <span class="badge badge-pill" [class.cart-bottom]="cartBottom" *ngIf="qtt != 0">{{qtt}}</span>
      </a>
    </div>
    <div class="nav-item" routerLinkActive="isActive">
      <a class="tab" [routerLink]="[ '/loja' ]">
        <i-briefcase></i-briefcase>
        Loja
      </a>
    </div>
    <div class="nav-item" routerLinkActive="isActive">
      <a class="tab" [routerLink]="[ '/produtos' ]">
        <i-tag></i-tag>
        Produtos
      </a>
    </div>
    <div class="nav-item" routerLinkActive="isActive">
      <a class="tab" [routerLink]="[ '/preferencias' ]">
        <i-settings></i-settings>
        Preferências
      </a>
    </div>
  </nav>
</div>
