@media (min-width: 949px) {
  main {
    background: white;
    margin: 2em auto 0;
    width: 100%;
    max-width: 600px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  }
  /* .addresses.invalid > span:first-of-type,
  .payments.invalid > span:first-of-type,
  .colors.invalid > span:first-of-type,
  .label-float label {
    background-color: white !important;
  } */
  .modal-dialog {
    max-width: 600px;
  }
  .categories .box .card,
  .products .box .card {
    min-width: 48%;
  }
}
main {
  margin-top: 2em;
  margin-bottom: 6em;
  padding: 1em 1em 2em;
}
/* main .form div.text-danger {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
}
.form {
  width: 100%;
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto;
}
.image {
  display: flex;
  justify-content: center !important;
  align-items: center;
  color: var(--primary);
  cursor: pointer;
}
.image img {
  border: 2px solid white;
  background: whitesmoke;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  max-width: 100px;
  max-height: 100px;
  grid-row: 1 / 3;
  margin: auto 0.5em;
  object-fit: scale-down;
  -o-object-fit: scale-down;
}
.preview {
  display: flex;
  width: 100%;
}
.preview:not(.filled) {
  max-height: 20px;
  transition: max-height 250ms ease-in;
}
.preview.filled {
  transition: max-height 250ms ease-out;
  max-height: 100px;
}
.preview img {
  border: 2px solid white;
  background: whitesmoke;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  object-fit: scale-down;
  -o-object-fit: scale-down;
}
[readonly] {
  background: whitesmoke;
}*/
.label-float.fade:not(.show) {
  padding-top: 0;
}
.label-float {
  position: relative;
  padding-top: 13px;
}
.label-float input {
  border: 1px solid lightgrey;
  border-radius: 10px;
  outline: none;
  width: 100%;
  min-width: 200px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
}
.address .ad-row-1 .label-float input {
  min-width: 50px;
}
.label-float input:focus:not([readonly]) {
  border: 2px solid var(--primary);
}
.label-float input::placeholder {
  color: transparent;
}
.modal-dialog .label-float label {
  background-color: white;
}
.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}
.label-float input.invalid+label, .text-danger {
  color: tomato !important;
}
.label-float input.invalid {
  border: 2px solid tomato;
}
.label-float input:focus+label, .label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  top: 0.7em;
  line-height: 0;
  color: var(--primary);
}
.categories, .products, .optional, .extras, .sizes {
  margin-top: 0.5em;
}
.text-secondary {
  cursor: auto;
}
.categories.invalid > span:first-of-type,
.optional.invalid > span:first-of-type,
.sizes.invalid > span:first-of-type {
  color: tomato;
  pointer-events: none;
  position: absolute;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 0 5px;
  margin: -20px 10px;
  font-size: 75%;
}
.categories.invalid,
.optional.invalid,
.sizes.invalid {
  border: 2px solid tomato;
  border-radius: 10px;
  padding: 10px 5px;
  margin-top: 1em;
}
.categories > span:first-of-type,
.products > span:first-of-type,
.extras > span:first-of-type,
.optional > span:first-of-type,
.sizes > span:first-of-type {
  color: var(--primary);
  margin-top: 0.5em;
}
.categories .box .card div:nth-child(3) {
  align-items: center !important;
}
.categories .box .card div,
.products .box .card div,
.extras .box .card div,
.optional .box .card div,
.sizes .box .card div {
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
}
.categories .box,
.products .box,
.extras .box,
.optional .box,
.sizes .box {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.25em 2%;
}
.categories .box .card,
.products .box .card,
.extras .box .card,
.optional .box .card,
.sizes .box .card {
  display: flex;
  flex-direction: row;
  min-width: 49%;
  min-width: 150px;
  justify-content: flex-end;
  gap: 1%;
}
.categories .box .card span,
.categories .box .card,
.categories .box .card.pointer,
.products .box .card,
.extras .box .card,
.optional .box .card,
.sizes .box .card {
  flex-grow: 1;
  padding: 0.25em;
  justify-content: space-between;
}
.products .box .card {
  min-height: 2.5em;
}
.card.pointer:hover {
  border: 1px solid var(--primary);
  transition: all 500ms;
}
.colors .card {
  display: flex;
  flex-direction: row;
  width: 23%;
  cursor: pointer;
}
.colors .card .color {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  flex-grow: 1;
  height: 3em;
}
.fade:not(.show) {
  height: 0;
  opacity: 0;
  transition: 500ms;
}
.fade.show {
  height: auto;
  opacity: 1;
  transition: 500ms;
}
.hide {
  position: fixed;
  z-index: -1000;
  opacity: 0;
}
.colored {
  font-size: 0.75em;
  color: var(--primary);
}
.modal .row div.col-5 label,
.modal .row div.col-10 label {
  margin-left: 10px;
}
.modal .row div.col-2 {
  padding-top: 10px;
  gap: 5px;
  display: grid;
  place-items: center;
}
.preview {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
}
.preview .card {
  border: 1px solid lightgray;
  background: whitesmoke;
  border-radius: 0.5em;
  width: 30vw;
  height: 30vw;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}
.preview .card label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.preview .card .delete {
  color: white;
  background: var(--danger);
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  border-radius: 0.5em;
  padding: 0.5em;
}
.preview .card .delete:hover {
  background: tomato;
  transition: 300ms;
}
.preview img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  -o-object-fit: scale-down;
  border-radius: 0.5em;
}
.preview .pointer:hover:not(.delete) {
  border-radius: 0.5em;
  border-width: 1px;
  border: solid lightgray;
  transition: border-width 300ms;
}
.preview .pointer.invalid:not(.delete) {
  border-radius: 0.5em;
  border: 1px solid tomato;
}
